body
{
	color: blue;
	background-color: pink;
	font-size: 10pt;
	font-family: Veranda: Genera, Arial, Helvetica, sans-serif;
	text-align: center;
}
	
div.megan {background-color:white; text-align:center; margin:0 auto; }

p {color:black; font-size:10pt; text-align:center;}

h1 { font-style:italic; font-weight:bold; text-align:center; }


	
	
